
/*background*/
body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../img/runaway_flume.png");

    /* Full height */
    height: 95%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*navbar*/

nav {
    text-align: center;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    letter-spacing: 15px;
    padding: 15px;
}

nav a[href] {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    font-size: 70px;
    margin-left: 45px;
    margin-right: 45px;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 1px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.myDIV {
    left: 763px;
    position: relative;
    top: 230px;
    text-align: center;
    width: 20px;
    height: 85px;
    display: inline-block;
}

.hide {
    display: none;
    position: relative;
    top: 190px;
    text-align: center;
    left: 775px;
}
  
.myDIV:hover + .hide {
    display: inline-block;
    color: red;
}