
/*background*/
body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../img/runaway_flume.png");

    /* Full height */
    height: 95%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*navbar*/

nav {
    text-align: center;
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -9px;
    padding: 20px;
    position: sticky;
    border: 2px solid white;
    background-color: black;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

nav:hover {
    /* background-color: 	rgb(114, 58, 93); */
    /* border: 2px solid rgb(216,155,197); */
    background: linear-gradient(45deg, rgb(216,155,197) 25%,
        rgb(54,65,87) 25%, rgb(54,65,87) 50%, 
        rgb(216,155,197) 50%, rgb(216,155,197) 75%, 
        rgb(54,65,87) 75%);
    background-size:100px 100px;
    border: 2px solid black;
}

nav a::first-letter {
    font-size: 50px;
}

nav a[href] {
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 10px;
    padding-left: 10px;
    margin: 10px;
}

nav a[href = "playlists.html"]:hover {
    color: rgb(255, 0, 174);
    background-color: rgb(0, 255, 55);
    border: 2px solid black;
}

nav a[href = "forms.html"]:hover {
    color: rgb(0, 247, 255);
    background-color: rgb(255, 123, 0);
    border: 2px solid black;
}

nav a[href = "about.html"]:hover {
    color: rgb(0, 255, 55);
    background-color: rgb(255, 0, 174);
    border: 2px solid black;
}

nav a[href = "contact.html"]:hover {
    color: rgb(255, 123, 0);
    background-color: rgb(0, 247, 255);
    border: 2px solid black;
}

.logo {
    /* background-color: rgb(9, 255, 0); */
    background-color: black;
    color: white;
    letter-spacing: 15px;
    padding-left: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 70px;
    border-radius: 10px;
}   

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 1px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}

div button:focus {
    color: rgb(216,155,197);
    text-decoration: none;
}


/*audio controls*/
section {
    display: inline-block;
}

.music {
    width: 150px;
    height: 450px;
    text-align: center;
    overflow: hidden;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: -9px;
    padding: 5px;
    position: absolute;
    border: 2px solid rgb(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    color: white;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.music:hover {
    background-color: rgba(21, 255, 0, .65);
}

.music ul {
    margin-left: 0px;
    display: inline-block;
    padding-inline-start: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
}

button {
    background: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    letter-spacing: 7px;
    border: none;
    opacity: 100%;
}

button:focus {
    outline: none;
}

#play {
    width: 20px;
    height: 20px;
}

#pause {
    width: 20px;
    height: 20px;
    background-color: white;
}

#restart {
    width: 20px;
    height: 20px;
}