
/*background*/
body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../img/runaway_flume.png");

    /* Full height */
    height: 95%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*navbar*/

nav {
    text-align: center;
    align-content: center;
    overflow: hidden;
    margin-left: -7px;
    margin-right: -7px;
    opacity: 50%;
    position: sticky;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom: 1px solid #7F6B80;
    background-image: linear-gradient(to top, rgba(237, 233, 221, .5), rgba(237, 233, 221, 0));
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#logo {
    font-size: 40px;
}

nav a {
    color: black;
    text-decoration: none;
    /* letter-spacing: 10px; */
    opacity: 100%;
    /* margin: 10px; */
}

.hvr-underline-from-left {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 1px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

nav a:hover {
    color: white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: none;
    border: none;
    color: black;
    opacity: 50%;
    outline: none;
}

div button:hover {
    color: white;
}

section {
    margin: auto;
    width: 50%;
    border: 2px outset rgba(237, 233, 221, .5);
    background-color: rgba(237, 233, 221, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    display: inline-block;
    padding: 10px;
}

section h2 {
    color: #ede9dd;
    opacity: 50%;
    letter-spacing: 20px;
    font-weight: 100;
}