
/*background*/
body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../img/runaway_flume.png");

    /* Full height */
    height: 95%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*navbar*/

.hvr-underline-from-left {
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 2px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

nav {
    /* background-image: linear-gradient(to top,rgba(233, 235, 221, .25), rgba(233, 235, 221, 0)); */
    padding-bottom: 7px;
    opacity: 50%;
    border-bottom: solid;
    border-color: white;
    border-style: dashed;
}

#logo {
    font-size: 60px;
}

.logo {
    display: inline;
}

.elem {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    letter-spacing: 7px;
    font-size: 30px;
}

/*end navbar*/

/*audio controls*/ 

.music {
    display: block;
    width: 300px;
    height: 300px;
    opacity: 50%;
    border-style: dashed;
    border-color: white;
}

ul li {
    list-style: none;
    display: inline-block;
}

button {
    background: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    letter-spacing: 7px;
    border: none;
}

#play {
    width: 20px;
    height: 20px;
}

#pause {
    width: 35px;
    height: 20px;
}

#restart {
    width: 20px;
    height: 20px;
}
/*end audio controls*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}